

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 35%;
  border: 2px solid lightgray;
  padding-bottom: 1%;
  background-color: lightgrey;
  margin-top: 2%;

  
  }

  .headline {
    font-size: 40px;
    padding-bottom: 2%;
    margin-left: 4%;
    margin-top: 2%;
  }
  a {
    font-size: 17px;
    margin-right: 3%;
    color: black;
    text-decoration: none;
  }

nav {
@media (max-width:500px) {
  display:flex;
  justify-content: space-between;
  margin-right:100%;
  }
   
}
  

